*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
scroll-behavior:smooth;
}

body{
background:#f2f2f2;
color:#222;
transition:.5s;
}

header{

display:flex;
justify-content:space-between;
padding:20px 10%;
align-items:center;
background:#222;
color:white;
position:sticky;
top:0;

}

nav a{

color:white;
margin:15px;
text-decoration:none;

}

.hero{

display:flex;
justify-content:space-around;
align-items:center;
padding:80px 10%;
flex-wrap:wrap;

}

.hero img{

width:280px;
border-radius:50%;
box-shadow:0 0 30px dodgerblue;

}

.hero span{

color:dodgerblue;

}

.btn{

display:inline-block;
margin-top:20px;
padding:12px 25px;
background:dodgerblue;
color:white;
text-decoration:none;
border-radius:30px;

}

section{

padding:70px 10%;

}

.skill{

margin:20px 0;

}

.bar{

background:#ddd;
height:12px;
border-radius:20px;

}

.progress{

height:12px;
background:dodgerblue;
border-radius:20px;

}

.html{
width:95%;
}

.css{
width:90%;
}

.js{
width:80%;
}

.py{
width:85%;
}

.cards{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;

}

.card{

background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
transition:.3s;

}

.card:hover{

transform:translateY(-10px);

}

form{

display:flex;
flex-direction:column;
gap:15px;

}

input,textarea{

padding:12px;

}

button{

padding:12px;
background:dodgerblue;
color:white;
border:none;
cursor:pointer;

}

footer{

text-align:center;
padding:20px;

}

.dark{

background:#111;
color:white;

}

.dark .card{

background:#222;

}

.hidden{

opacity:0;
transform:translateY(50px);
transition:1s;

}

.show{

opacity:1;
transform:translateY(0);

}